doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Asset Tracker
    link(rel='stylesheet' href='bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='css/assetCategory.css')
    link(href="https://cdn.datatables.net/v/bs5/dt-2.0.1/datatables.min.css" rel="stylesheet")
body  
    .container-fluid
    include ./sidebar.jade
        include ./assetcategoryRegister.jade
        .container.tablecontainer.mb-3
                .modal.fade#assetcategoryeditmodalId(tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true")
                    .modal-dialog.modal-none(role="document")
                        .modal-content
                            .modal-header
                                h5.modal-title#modalTitleId
                                    Modal Edit Asset 
                                button(type="button" data-bs-dismiss="modal" aria-label="Close").btn-close
                            .modal-body    
                                
                                table.assetdetailtable
                                    tr
                                        td 
                                            label(for="editassetname").mx-3  Asset Name
                                            input(type="text" name="name" id="editassetname" placeholder="Asset name" ) 
                            .modal-footer
                                button.btn.btn-danger(aria-label="Close" data-bs-dismiss="modal") Cancel 
                                button.btn.btn-success(onclick="editassetcategory()") Edit
                                    
        table#assetcategorytable.assetcategorytable.table.table-bordered
            thead
                th ID
                th Asset Name
                th CreatedAt
                th UpdatedAt
                th Action

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
script(src="https://code.jquery.com/jquery-3.6.0.min.js")
script(src="https://code.jquery.com/jquery-3.7.1.js")
script(src="https://cdn.datatables.net/2.0.2/js/dataTables.js")
script(src="https://cdn.datatables.net/v/bs5/dt-2.0.1/datatables.min.js")
script(src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js")
script(src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js")
script(src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js")
script(src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js") 
script(src='/bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js')
script(src="/js/moment.js")
script(src="/js/assetCategory.js")          