
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Asset Tracker
  link(rel='stylesheet' href='bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/css/bootstrap.min.css')
  link(href="https://cdn.datatables.net/v/bs5/dt-2.0.1/datatables.min.css" rel="stylesheet")
 

  link(rel='stylesheet' href='css/employee.css')
//-   link( rel="stylesheet" href="/css/employeeRegister.css")


body
    include ./sidebar
        .container-fluid.py-2
        include ./employeeRegister
                //- include ./employeeedit
        .container-fluid.tablecontainer
            .modal.fade#editmodalId(tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true")
                .modal-dialog.modal-lg(role="document")
                    .modal-content
                        .modal-header
                            h5.modal-title#modalTitleId
                                Modal Edit Employee
                            button(type="button" data-bs-dismiss="modal" aria-label="Close").btn-close
                        .modal-body    
                            //- h3.mx-5.mt-3#addemployeelogo Edit Employee
                            table.mt-5.inputtable
                                tr
                                    th
                                        p(for="name" ) Full Name
                                    td 
                                        input.p-3(type="text" name="name" id="editname" placeholder="Name" required )
                                tr 
                                    th 
                                        p(for="email") Email
                                    td 
                                        input.p-3(type="email" name="email"  id="editemail" placeholder="abc@gmail.com"  required)
                                tr 
                                    th 
                                        p(for="contact") Contact
                                    td 
                                        input.p-3(type="tel" name="contact" id="editcontact" placeholder="9876543010" pattern="[1-9]{1}[0-9]{9}" required)    
                                tr 
                                    th 
                                        p(for="address") Address
                                    td 
                                        textarea#editaddress(name="address", cols="60", rows="6" required) 
                                tr 
                                    th 
                                        p(for="branch") Branch
                                    td 
                                        select#editbranch.ps-3(name="branch" )
                                            option(value="Salem") Salem
                                            option(value="Coimbatore") Coimbatore
                                            option(value="Chennai") Chennai
                                            option(value="Hyderabad") Hyderabad 
                                            option(value="Banglore") Banglore
                                         
                                tr 
                                    th 
                                        p(for="joindate") Join Date
                                    td 
                                        input.p-3#editjoindate(type="date" name="joindate" placeholder="dd/mm/yyyy"  required)
                                tr 
                                    th 
                                        p(for="enddate") End Date
                                    td 
                                        input.p-3#editenddate(type="date" name="enddate" placeholder="dd/mm/yyyy" required)
                                tr 
                                    th 
                                        p(for="salary") Salary
                                    td 
                                        input.p-3(type="number" placeholder="ex:25000 per month" id="editsalary" required)
                                tr 
                                    th 
                                        p(for="department" ) Department
                                    td 
                                        select.ps-3#editdepartment(name="department" required)
                                            option(value="IT") IT
                                            option(value="Human resource") Human resource
                                            option(value="Sales") Sales
                                            option(value="Marketing") Marketing 
                                            option(value="Finance") Finance
                                            option(value="Finance") Maintence department
                                            option(value="Accounting") Accounting
                                tr 
                                    th
                                        p(for="Status")#editstatus Status 
                                    td  
                                        .form-check.form-switch.mb-3(onclick="editstatuschecking()")
                                            input.form-check-input.statusbutton(type="checkbox" role="switch" id="editflexSwitchCheckChecked" checked required) 
                                            p.mx-4.my-auto#editactivestatus
                                                |Active
                        .modal-footer
                            button.btn.btn-danger.mt-3(aria-label="Close" data-bs-dismiss="modal") Cancel 
                            button.btn.btn-success.mt-3(onclick="editemployeesubmit()" type="submit") Edit
                             
    .custom-cls 
         .row
             .col-sm-auto
                tr
                 td
                   label(style="font-size:17px") Status 
                 td
                   select.ms-1#StatusFilter.ps-2
                     option(value='None') All
                      option(value="Inactive")   Inactive
                       option(value="Active") Active
                  //- button.btn.btn-primary(onclick="Filter('Status')") Filter 
             .col-sm-auto
                 tr
                   td
                      label(style="font-size:17px") Department
                   td
                     select.ms-1#DepartmentFilter.ps-2
                        //-  option(value="IT") IT
                        //-   option(value="Human resource") Human resource
                        //-  option(value="Sales") Sales
                        //-  option(value="Marketing") Marketing 
                        //-  option(value="Finance") Finance
                        //-  option(value="Finance") Maintence department
                        //-  option(value="Accounting") Accounting
                        //- button.btn.btn-primary(onclick="Filter('Department')") Filter 
             .col-sm-auto
               tr  
                    td 
                        label(style="font-size:17px") Branch
                    td
                        select.ms-1#BranchFilter.ps-2
                        button.btn.btn-primary(onclick="Filter()") Filter 
    table#employeetable.table.table-bordered
     thead#employeetablehead
      th ID
      th Name
      th Email  
      th Contact
      th Department
      th Branch
      th Status
      th Actions

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
script(src="https://code.jquery.com/jquery-3.6.0.min.js")
script(src="https://code.jquery.com/jquery-3.7.1.js")
script(src="https://cdn.datatables.net/2.0.2/js/dataTables.js")
script(src="https://cdn.datatables.net/v/bs5/dt-2.0.1/datatables.min.js")
script(src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js")
script(src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js")
script(src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js")
script(src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js") 
script(src='/bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js')
script(defer src='/js/employee.js') 
script(src="/js/employeeEdit.js")
script(src="/js/assetcategoryRegister.js")
script(src='/js/employeeRegister.js')
  //- script(src="/js/sidebar.js")