
head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link( rel="stylesheet" href="/css/employeeRegister.css")
    link(rel="stylesheet" href="/bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/js/bootstrap.min.js")
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    script(src="/js/employeeRegister.js")
    title employee

body
        .container.tablecontainer
            .row.mt-5
                .col-sm-3
                    h3.employeetopic Employee Master
                .col-sm-9
                    a.addemployeebutton#addemployeebutton.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#modalId")  Add Employee
            .modal.fade#modalId(tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true")
                .modal-dialog.modal-lg(role="document")
                    .modal-content
                        .modal-header
                            h5.modal-title#modalTitleId
                                Modal Asset Tracker
                            button(type="button" data-bs-dismiss="modal" aria-label="Close").btn-close
                        .modal-body    
                            h3.mx-5.mt-5#addemployeelogo Add Employee
                            table.mt-5.inputtable
                                tr
                                    th
                                        p(for="name" ) Full Name
                                    td 
                                        input(type="text" name="name" id="name" placeholder="Name"  )
                                tr 
                                    th 
                                        p(for="email") Email
                                    td 
                                        input(type="text" name="email"  id="email" placeholder="abc@gmail.com" )
                                tr 
                                    th 
                                        p(for="contact") Contact
                                    td 
                                        input(type="tel" name="contact" id="contact" placeholder="9876543210" )    
                                tr 
                                    th 
                                        p(for="address") Address
                                    td 
                                        textarea#address(name="address", cols="60", rows="6" ) 
                                tr 
                                    th 
                                        p(for="branch") Branch
                                    td 
                                        select#branch(name="branch" )
                                            option(value="Salem") Salem
                                            option(value="Coimbatore") Coimbatore
                                            option(value="Chennai") Chennai
                                            option(value="Hyderabad") Hyderabad 
                                            option(value="Banglore") Banglore
                                        
                                tr 
                                    th 
                                        p(for="joindate") Join Date
                                    td 
                                        input#joindate(type="date" name="joindate" placeholder="dd/mm/yyyy"  )
                                tr 
                                    th 
                                        p(for="enddate") End Date
                                    td 
                                        input#enddate(type="date" name="enddate" placeholder="dd/mm/yyyy" )
                                tr 
                                    th 
                                        p(for="salary") Salary
                                    td 
                                        input(type="number" placeholder="ex:25000 per month" id='salary')
                                tr 
                                    th 
                                        p(for="photo") Photo
                                    td 
                                        input#photo(type="file" name="employeeimage")
                                tr 
                                    th 
                                        p(for="department" ) Department
                                    td 
                                        select#department(name="department" required)
                                            option(value="IT") IT
                                            option(value="Human resource") Human resource
                                            option(value="Sales") Sales
                                            option(value="Marketing") Marketing 
                                            option(value="Finance") Finance
                                            option(value="Finance") Maintence department
                                            option(value="Accounting") Accounting
                                tr 
                                    th
                                        p(for="Status") Status 
                                    td 
                                        .form-check.form-switch.mb-3(onclick="statuschecking()")
                                            input.form-check-input.statusbutton(type="checkbox" role="switch" id="flexSwitchCheckChecked" checked required) 
                                            p.mx-4 Active
                        .modal-footer
                            button.btn.btn-danger.mt-3(aria-label="Close" data-bs-dismiss="modal") Cancel 
                            button.btn.btn-success.mt-3(onclick="registeremployee()") Submit
                                