doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet",href='/bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/css/bootstrap.min.css')
  body.py-3

