link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css")
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css")
link(rel="stylesheet" href="/css/sidebar.css")

body#body-pd
    header.header#header
        div.header_toggle 
            |Asset Tracker
        div 
            //- img(src='/images/employee/employees.png',width="30px",height="30px" )#Admin.mt-3 
            #profile.mt-5|hello
    div.l-navbar#nav-bar
        nav.nav
            div 
                div.header_toggle 
                    i.bx.bx-menu#header-toggle1
                div.nav_logo 
                    i.bx.bx-logo
                        span.nav_logo-name 
                            //- |Asset Tracker
                div.nav_list 
                    a(href="/dashboard").nav_link.status 
                        i.bx.bx-grid-alt.nav_icon
                            span.nav_name 
                                |Dashboard
                    a(href="/employee").nav_link.status 
                        i.bx.bx-user.nav_icon 
                            span.nav_name 
                                |Employees 
                    a(href="/asset").nav_link.status 
                        i.bx.bx-message-square-detail.nav_icon 
                            span.nav_name 
                                |Assets
                    a(href="/asset-category").nav_link.status 
                        i.bx.bx-bookmark.nav_icon
                            span.nav_name 
                                |Asset Category
                    a(href="#").nav_link#signout.status  
                        i.bx.bx-log-out.nav_icon 
                            span.nav_name
                                |SignOut
     
    //- <!--Container Main start-->
    div.py-3
        .container-fluid.mb-5
    
<script src="/js/sidebar.js"></script>
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")