/* /* .assettable{
    width: 100%;
} */

.addasset{
    float: right;
}
/* .assettable td,.assettable th{
    padding: 15px 25px;
    border-style: ridge;
    border-width: thin;
   border-color: black;
  } */
.dt-buttons button{
    border-radius: 5px;
    height: 37px;
    margin-bottom: 10px;
    width: 70px;
}
.buttons-copy{
    background-color: rgb(12, 12, 181);
    color: white;
    border: none;
}
.buttons-excel{
    background-color: #006600;
    color: white;
    border: none;
    /* margin-left: 10px; */
}
.buttons-pdf{
    background-color: #b30000;
    color: white;
    border: none;
    /* margin-left: 10px; */
}
 
