.addemployeebutton{
  float: right;
}
.dt-buttons button{
  border-radius: 5px;
  height: 37px;
  margin-bottom: 10px;
  width: 70px;
}
.buttons-copy{
  background-color: rgb(12, 12, 181);
  color: white;
  border: none;
}
.buttons-excel{
  background-color: #006600;
  color: white;
  border: none;
  /* margin-left: 10px; */
}
.buttons-pdf{
  background-color: #b30000;
  color: white;
  border: none;
  /* margin-left: 10px; */
}

/* .custom-cls select{
  display: inline;
  height: 33px;
  width: 100px;
  margin-left: 70%;
  position: relative;
  top: 40px;
} */
/* .custom-cls p{
  display: inline;
  margin-left: 66%;
  position: relative;
  top: 68px;
} */

/* .removeFormat {
  text-decoration: none; 
 cursor:auto;
} */

