.addemployeebutton{
  float: right;
}
.dt-buttons button{
  border-radius: 5px;
  height: 37px;
  margin-bottom: 10px;
  width: 70px;
}
.buttons-copy{
  /* background-color: rgb(12, 12, 181); */
  /* color: white; */
  border: none;
}
.buttons-excel{
  /* background-color: #006600;
  color: white; */
  border: none;
}
.buttons-pdf{
  /* background-color: #b30000;
  color: white; */
  border: none;
}

.custom-cls select{
  display: inline;
  height: 33px;
  width: 200px;
  padding:5px;
} 
 .custom-cls{
  margin-top: 50px;
}
.custom-cls button{
  position: relative;
  top:-5px;
  margin-left: 10px;
} 
.btn-size{
  font-size: 12px;
  padding:5px 10px;
}
