.tablecontainer{
  background-color: white;
}
.inputtable{
     display: flex;
     justify-content: center;
}
.inputtable tr{
    height: 50px;
   width:50%; 
   
} 
.inputtable td textarea{
    resize: none;
}
input,select{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border-width: 1px;
}
.inputtable th{
    width:150px;
   height: 60px;
}
