.addemployeebutton{
  float: right;
}
.employeetable td,.employeetable th{
  padding: 15px 25px;
  border-style: ridge;
  border-width: thin;
 border-color: black;
}

.employeetopic{
  text-align: left;
}
.employeetable thead{
    border-bottom: thin ridge black;
}
.custom-cls select{
  display: inline;
  height: 33px;
  width: 100px;
  margin-left: 70%;
  position: relative;
  top: 40px;
}
.custom-cls p{
  display: inline;
  margin-left: 66%;
  position: relative;
  top: 68px;
}
.employeetable{
  width: 100%;
  border: groove solid black;
}
.removeFormat {
  text-decoration: none; 
 cursor:auto;
}

